li.sc-btn
                a(href="#").link.sc-btn__vk
                a(href="#").link.sc-btn__fb
                a(href="#").link.sc-btn__tw
                a(href="#").link.sc-btn__you
                a(href="#").link.sc-btn__insta
                a(href="#").link.sc-btn__google