
.row.knowledge-book
    .knowledge-book__content
        h2.book__headline
            span Книга знаний
            a.book__all-article-headline.button.button-headline.button--margin_z Все статьи
        .content__col
            .content__col-item.content_01
                a(href="#").book__image
                    img(src="../images/corn.jpg", alt="" title="Работа с зерновыми заторами. Красная и белая схемы брожения").book__img
                p.book__subtitle Работа с зерновыми заторами. Красная и белая схемы брожения
                a.button.col--lg-5  Узнать больше
                a.book__all-article.button.button-content.button--margin_z Все статьи
            .content__col-item.content_02
                a(href="#").book__image
                    img(src="../images/80397627.jpg", alt="" title="Цитрусовый ликер Куантро").book__img
                p.book__subtitle Цитрусовый ликер Куантро
                p.book__description Рецепт приготовления ароматного цитрусового ликера
                a.button.col--lg-5 Узнать больше
                a.book__all-article.button.button-content.book__btn--margin_z Все статьи
              
