+media-breakpoint-up(md) {
    .where-buy {    
        height: 322px;
    &__headline {

    }
    &__city-inner {
       
        display: flex;
        width: 730px;
        flex-direction: row;
        margin:0 auto;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap
        height:auto;
        
    }
    &__city {
        margin-bottom:10px;
        margin-top:0px;
        position relative;
        right: 20px;
    }   
    }
    .where-buy__col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height 100%}
}