+media-breakpoint-up(md) {
  
    .categories {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
      .categories__section{
        width: 50%;
       
        
        }
}