+media-breakpoint-up(xs) {
    .history-guber {    
        padding: 60px 10px 40px 10px;
     

    }
    .history-guber__headline{font-size: 37px; font-weight: 300;margin-bottom: 25px;}
    .history-guber__subtitle{font-size:18px; font-weight:700}
    .hidden-text-mobile{
        display: none;}
  
    .button-history{
        display: block;
    }
   
}