section.video.row
    a(href="https://www.youtube.com/embed/piM1U_yAbPU?autoplay=1&rel=0" ).video-inner.col.link.link-w
        span.video-text 
            span.headline СИМПЛ-2019
            span.video-text-name Надёжный. Производительный. Умный.
            p.video-text__play 
