.row.header.header--padding
    .row.header-lg
        include ../menu-list-lg/menu-list-lg  
    .row
        .page__header.col.block-lg-center
                a(href="#").logo.header__logo
                    img(src="/images/logo-2.png").logo__img
                include ../tels-btn/tels-btn 
                .header__wrap.wrap
                    .wrap__ico.ico
                        a(href="#").link.ico__search    
                        a(href="#").link.ico__menu
include ../menu-list/menu-list
          
