.tels-btn_mb
                li
                    p Бесплатный звонок по РФ
                li.tels__item_mb  
                    a(href="#").link.link-b.tels_font  8 800 100-88-48
                li.tels__item_mb 
                        a(href="#").link.link-b.location_font Ваш город:
                            span  Киров
                li.tels__item_mb 
                        a(href="#").link.link-b.tels_font  8 982 100-88-48
                li.tels__item_mb                    
                    a(href="#").link.link-b.tels__item_mb--icon Перезвоните мне