+media-breakpoint-up(xs) {
    .knowledge-book{
         background-color: #F6F6F6;
        }
    .knowledge-book__content{
        height: auto;
        margin: 0 auto;
        padding: 0 10px 30px 10px;
        width: auto;
        max-width: 765px;
}
    .content__col{
        margin: 70px 0 40px 0;}
    .content_02{
        display: none;}
    .book__all-articles-headline{
        display: none;}
    .book__headline {
        display:block;
        font-size: 37px;
        font-weight: 400;
       padding-top:60px;
       text-align: center;}
    .book__image{
        display: block;
        width:100%;
        }
    .book__img{
        width:100%; }
    .book__subtitle{
        font-size: 18px
        font-weight:700;
      }
    .button-headline{
        display: none;}
    .button-content{
        display: block;}
    .button--margin_z{
        margin-top: 30px
    }
}