+media-breakpoint-up(xs) {
    .sc-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 250px;
        margin: 0 auto;
        position relative;
        margin-top:40px;
        align-self: center;
    }
        .sc-btn__vk {
            position: relative;

            width: 25px;
            height: 20px;


            background: url('../images/spritesheet.png')no-repeat -10px -34px;

            &:hover {
                background: url('../images/spritesheet.png')no-repeat -37px -34px;
            }

        }

        .sc-btn__fb {
            position: relative;

            width: 23px;
            height: 25px;

            background: url('../images/spritesheet.png')no-repeat -8px -52px;

            &:hover {

                background: url('../images/spritesheet.png')no-repeat -24px -52px;
            }

        }

        .sc-btn__tw {
            position: relative;

            width: 25px;
            height: 23px;

            background: url('../images/spritesheet.png')no-repeat -9px -74px;

            &:hover {

                background: url('../images/spritesheet.png')no-repeat -56px -74px;
            }


        }

        .sc-btn__you {
            position: relative;

            width: 30px;
            height: 25px;

            background: url('../images/spritesheet.png')no-repeat -10px -94px;

            &:hover {

                background: url('../images/spritesheet.png')no-repeat -43px -94px;

            }

        }

        .sc-btn__insta {
            position: relative;

            width: 25px;
            height: 25px;


            background: url('../images/spritesheet.png')no-repeat -12px -117px;

            &:hover {

                background: url('../images/spritesheet.png')no-repeat -37px -117px;

            }

        }

        .sc-btn__google {
            position: relative;

            width: 25px;
            height: 25px;
            background: url('../images/spritesheet.png') no-repeat -14px -140px;

            &:hover {

                background: url('../images/spritesheet.png') no-repeat -39px -140px;

            }

        }
    
}