+media-breakpoint-up(xl) {
    .menu-list-lg {    
        
    &__item {

    }
    .menu-list-lg__item,.submenu-list-lg__item {
        list-style none;
       
        font-size: 15px;
        font-weight: 800;
    }
    }
 
}