.categories
    a(href="#").link.link-w.category__moonshine.categories__section
        .category--text
            p.amount-product--text 231 товар 
            p.product--text Самогоноварение
            p.btn.btn--white Посмотреть всё
    a(href="#").link.category__wine.categories__section
        .category--text
            p.amount-product--text 33 товара
            p.product--text Виноделие
            p.btn.btn--white Посмотреть всё
    a(href="#").link.category__beer.categories__section
        .category--text
            p.amount-product--text 112 товаров
            p.product--text Пивоварение
            p.btn.btn--white Посмотреть всё
    a(href="#").link.category__cheese.categories__section
        .category--text
            p.amount-product--text 29 товаров
            p.product--text Сыроделие
            p.btn.btn--white Посмотреть всё
