+media-breakpoint-up(md) {
    .history-guber{
        max-width: 765px;
        padding:60px 0 40px 0;
        margin:0 auto;}
    .history-guber__col{
        display: flex;
        margin-top: 30px;
        margin-bottom:40px;
        justify-content: space-between;}
     .history-guber__col-item{
         display: flex;
         max-width 350px;
         
         flex-direction: column;
         }
        .history-guber__subtitle{
            margin: 0;}
    .hidden-text-mobile{
        display: block;}
    .button-history{
        display: none;
    }
}