+media-breakpoint-up(xl) {
    .slider {    
        display: block;
        width:100%;
        height:100%;
    }
    .slider__item{
        border:  1px solid #111111;
        display: block;
        width: 100%;
        height: 600px;
        
     }
  
    
     
}