.col.menu-list-lg.block-lg-center
        ul.page__menu-list-lg
            li.menu-list-lg__item
                a(href="#").link.link-b О фабрике 
            li.menu-list-lg__item
                a(href="#").link.link-b     Курсы
            li.menu-list-lg__item.submenu__link
                        span.link.link-b   Сервис
                        ul.menu-list-lg.page__submenu-list-lg.hidden
                                        li.submenu-list-lg__item.submenu-list__item--margin
                                            a(href="#").link.link-b  Доставка
                                        li.submenu-list-lg__item.submenu-list__item--margin
                                            a(href="#").link.link-b  Легальность
                                        li.submenu-list-lg__item
                                            a(href="#").link.link-b  F.A.Q.
            li.menu-list-lg__item
                            a(href="#").link.link-b  Книга знаний 
            li.menu-list-lg__item
                a(href="#").link.link-b Новости 
            li.menu-list-lg__item.item_border
                        a(href="#").link.link-b Контакты
        include ../sc-btn/sc-btn
