- var hit = 'Хит';
- var Sale = 'Sale';
- var label_sale = '-15%';
mixin popular-goods__image(src)
        img(src=src, alt="").image--style
        .label.label_hit=hit
        .label.label_ny.second-label=Sale
        .label.label_sale=label_sale
.row
    .popular-goods.col
        .popular-goods__title
            p Популярные товары
        .popular-goods__slider 
            a(href="#").popular-goods__item.link
                .popular-goods__image  
                    +popular-goods__image('../images/beer-kettle-21ltr.jpg')
                .popular-goods__info
                    p.row.name.info-el--margin Универсальный самогонный аппарат
                    .row.rating-box.info-el--margin 
                        .stars-box
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                        .reply__box
                            span.reply__numb 12
                            .comments-icon
                                img(src="../images/chat-bubble.png", alt="")
                    .price
                        span.start от 
                        span 32 869 р
            a(href="#").popular-goods__item.link
                .popular-goods__image
                    +popular-goods__image('../images/beer-kettle-21ltr.jpg')
                .popular-goods__info
                    p.row.name.info-el--margin  Универсальный самогонный аппарат
                    .row.rating-box.info-el--margin 
                        .stars-box
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                        .reply__box
                            span.reply__numb 12
                            .comments-icon
                                img(src="../images/chat-bubble.png", alt="")
                    .price
                        span.start от 
                        span 32 869 р
            a(href="#").popular-goods__item.link
                .popular-goods__image
                   +popular-goods__image('../images/beer-kettle-21ltr.jpg')
                .popular-goods__info
                    p.row.name.info-el--margin  Универсальный самогонный аппарат
                    .row.rating-box.info-el--margin 
                        .stars-box
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                        .reply__box
                            span.reply__numb 12
                            .comments-icon
                                img(src="../images/chat-bubble.png", alt="")
                    .price
                        span.start от 
                        span 32 869 р
            a(href="#").popular-goods__item.link
                .popular-goods__image
                    +popular-goods__image('../images/beer-kettle-21ltr.jpg')
                .popular-goods__info
                    p.row.name.info-el--margin  Универсальный самогонный аппарат
                    .row.rating-box.info-el--margin 
                        .stars-box
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                        .reply__box
                            span.reply__numb 12
                            .comments-icon
                                img(src="../images/chat-bubble.png", alt="")
                    .price
                        span.start от 
                        span 32 869 р
            a(href="#").popular-goods__item.link
                .popular-goods__image
                    +popular-goods__image('../images/beer-kettle-21ltr.jpg')
                .popular-goods__info
                    p.row.name.info-el--margin Универсальный самогонный аппарат
                    .row.rating-box.info-el--margin 
                        .stars-box
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                            span.sprite-star
                        .reply__box
                            span.reply__numb 12
                            .comments-icon
                                img(src="../images/chat-bubble.png", alt="")
                    .price  
                        span.start от 
                        span 32 869 р