.row  
    .history-guber.col
        h2.history-guber__headline Фабрика самогонных аппаратов «Доктор Губер»
        p(style="margin:0;")      Создаем оборудование для производства домашнего алкоголя: самогона, вина, пива. Аппараты для личного использования, небольших ресторанов и фабрик.
        .history-guber__col
            .history-guber__col-item
                p.history-guber__subtitle Продажа и производство оборудования
                p В собственном конструкторском бюро мы делаем такие хорошие аппараты, что на них учатся технологи и руководители пивоваренной и ликероводочной промышленности. На сайте можно купить самогонный аппарат «Доктор Губер», пивоварню, ингредиенты и комплектующие. Доставляем по всей России.
            .history-guber__col-item
                p.history-guber__subtitle Делимся опытом
                p Мы знаем, что домашние продукты могут легко конкурировать с покупными по качеству и вкусу, и учим наших клиентов, как этого добиться. Почерпнуть азы самогоноварения можно в Книге Знаний, повысить квалификацию – на наших обучающих семинарах. Опытные производители общаются с нами на форуме. Обсуждаем производство самогона, использование и настройку оборудования.
        .hidden-text-mobile
            p.history-guber__subtitle Это законно
            p Самогонный аппарат уже давно не нужно прятать. Производство алкоголя в домашних условиях для собственных нужд без цели сбыта — легально. Самогоноварение может быть домашним хобби или вырасти в бизнес. Чтобы продавать свой алкоголь в магазине или ресторане, необходимо получить лицензию на производство и оборот алкогольной продукции.
            p.history-guber__subtitle Самогонные аппараты «Доктор Губер»
            p Наши аппараты эксклюзивно представлены на официальном сайте «Доктор Губер» и в наших магазинах. Их список вы найдете в контактах. Рекомендуем не покупать копии нашего оборудования и не доверять ваше здоровье шарлатанам.
        a.button.btn_js.button--margin_z.button-history Читать дальше          