+media-breakpoint-up(lg) {
    .history-guber {    
        max-width: 980px;

    }
    .history-guber__col-item{
         display: flex;
         max-width 460px;
         
         flex-direction: column;
         }
    
}