+media-breakpoint-up(lg) {
    .sc-btn {    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 17%;
        margin: 0;
        position relative;
        margin-top:0px;
        align-self: center;
       
          
    &__vk {

    }
    &__fb {

    }
    &__tw {

    }
    &__you {

    }
    &__insta {

    }
    &__google {

    }
    }
}