+media-breakpoint-up(lg) {
    
    .header--padding{
        padding:40px 0}
    .page__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: none;
       
        background-color: #ffffff;
    }
   
    .header__wrap{
        display: none;}
 
   .logo__img{
       width:100%;
      }
   

    .ico__search {
        display: none;      
    }
    .ico__menu {
        display: none;
    }
    
  
    

}