ul.menu-list.page__menu-list.hidden.col
            li.menu-list__item
                a(href="#").link.link-b О фабрике 
            li.menu-list__item
                a(href="#").link.link-b      Курсы
            li.menu-list__item.submenu__link
                        span.link.link-b    Сервис
            ul.submenu-list.page__submenu-list.hidden
                            li.submenu-list__item.submenu-list__item--margin
                                a(href="#").link.link-b  Доставка
                            li.submenu-list__item.submenu-list__item--margin
                                a(href="#").link.link-b  Легальность
                            li.submenu-list__item
                                a(href="#").link.link-b  F.A.Q.
            li.menu-list__item
                            a(href="#").link.link-b   Книга знаний 
            li.menu-list__item
                a(href="#").link.link-b  Новости 
            li.menu-list__item
                        a(href="#").link.link-b  Контакты
            include ../tels-btn_mb/tels-btn_mb        
            include ../sc-btn/sc-btn
