+media-breakpoint-up(md) {
    .popular-goods {    
        

    }
    .popular-goods__image {

        .label{
                position: absolute;
                border-radius: 2px;
                padding: 4px 12px;
                color: #fff;
                top: 12px;
                left: 5px;
                font-size: 13px;
            }
        .label_hit{
                background-color: #ffdb5e;
                top: 40px;
                text-transform: uppercase;
            }
        .second-label{
                    top: 70px;
                    background-color: #c25445;
                    text-transform: uppercase;}
        .label_sale{
                background-color: #69b68d;

            }}
}