+media-breakpoint-up(lg) {
   
        .personal-nav_card{
             padding: 0;}
    .nav-search-icon{
            width:90px;
            height:27px;
          
            display: flex;
            position relative;
            margin:0;
            align-self: center;
            border-right: 1px solid #cccccc;
        }
        .ico__search_lg{
            width: 40px;
            height:35px;
            display: block;
            position absolute;
            left:20px;
            background: url("../images/spritesheet.png") no-repeat -6px -165px;
            &:hover{
                width: 40px;
                height:35px;
                 left:20px;
                background: url("../images/spritesheet.png") no-repeat -48px -165px;
                }
            }
        .top-nav--padding{
            padding:0 55px !important ;}
        .personal-nav--padding{
            padding:0 35px; 
            cursor: pointer;
            }
        .top-nav{
            display: flex;}
}