.row.nav
        .nav-menu.search-hide.block-lg-center
                    .top-nav.nav-menu__block
                                .nav-search-icon
                                        a(href="#").ico__search_lg    
                                a(href="#").top-nav-button.top-nav--padding Каталог  
                    
                                a(href="#").top-nav-button.top-nav--padding Форум
                    .personal-nav.nav-menu__block
                            a(href="#").top-nav-button.personal-nav--padding Войти    
                            .personal-nav_card.personal-nav--padding.nav-menu__block
                                a(href="#").top-nav-button-box