.row.footer
    .footer__inner.col.block-lg-center
        .footer__first-b
            ul.footer-menu.col--lg-7
                li.footer-menu__item
                    a(href="#").footer-text--style.link.link-w О фабрике 
                li.footer-menu__item
                    a(href="#").footer-text--style.link.link-w     Курсы
                li.footer-menu__item.submenu__link
                    ul.footer__submenu-list
                        li.footer-submenu.footer-submenu-list__item
                            a(href="#").footer-text--style.link.link-w  Доставка
                        li.footer-submenu.footer-submenu-list__item
                            a(href="#").footer-text--style.link.link-w  Легальность
                        li.footer-submenu.footer-submenu-list__item
                            a(href="#").footer-text--style.link.link-w  F.A.Q.
                li.footer-menu__item
                    a(href="#").footer-text--style.link.link-w  Книга знаний 
                li.footer-menu__item
                    a(href="#").footer-text--style.link.link-w Новости 
                li.footer-menu__item.item_border
                    a(href="#").footer-text--style.link.link-w Контакты
            .sc-btn__block
                    li.sc-btn.footer-menu__sc
                        a(href="#").link.footer__sc-btn__vk
                        a(href="#").link.footer__sc-btn__fb 
                        a(href="#").link.footer__sc-btn__tw
                        a(href="#").link.footer__sc-btn__you
                        a(href="#").link.footer__sc-btn__insta
                        a(href="#").link.footer__sc-btn__google
                    a(href="#").footer-text--style.sitemap.sitemap__link.link.link-w Карта сайта
        .footer__second-b
            .footer__block-left-lg.text--lg-left
                .footer__logo.link-w   
                    p.logo-main Doctor Gruber
                    p.logo-factory Factory
                p.footer-text--style-fonts.footer__adress.link-w  Наши магазины в Москве
                    br
                    | Остаповский пр.,3;
                    br
                    | ул. Смольная 63Б/П8,
                    br
                    | Киевское шоссе дом 1, к. В, 204
                    br
                    | Ярославское шоссе 146 к1
                    br
                    a.footer__email info@doctorguber.ru
                a(href="#").footer-text-tel.link.link-w
                        span 8 800 448-474-8 (c 9:00 до 21:00)
                
                p.footer-text--style.footer__copyright.link-w © Doctor Gruber 2007—2018
                p.footer-text--style-fonts.footer__its.link-w Сделано в 
                    a(href="#").link ABV
            .footer__block-right-lg.text--lg-right
                .footer__form   
                    p.form__caption.link-w  Подписывайтесь на новости Doctor Guber
                    input( type="text" placeholder="Введите email").email
                    input(type="submit" value="Подписаться" ).form__btn 
                .footer__pay-systems.link-w
                    span.footer-text--style Мы принимаем к оплате
                    .footer__card
                        span.sprite-visa
                        span.sprite-master-card
            .footer-block-xs
                p.footer-text--style-fonts.footer__adress.link-w  Наши магазины в Москве
                    br
                    | Остаповский пр.,3;
                    br
                    | ул. Смольная 63Б/П8,
                    br
                    | Киевское шоссе дом 1, к. В, 204
                    br
                    | Ярославское шоссе 146 к1
                    br
                    a.footer__email info@doctorguber.ru
                .footer__emails.link-w
                    a(href="#").footer-text--style.footer__emails-tel.link.link-w
                        span.tel-ico
                        | 8 800 448-474-8
                    p.footer-text--style-fonts (c 9:00 до 21:00)
                .footer__pay-systems.link-w
                    span.footer-text--style Мы принимаем к оплате
                    .footer__card
                        span.sprite-visa
                        span.sprite-master-card
                p.footer-text--style.footer__copyright.link-w © Doctor Guber 2007—2018
                p.footer-text--style-fonts.footer__its.link-w Сделано в 
                    a(href="#").link ABV