.tels-btn.col--lg-8
                li.tels__item
                    p.tels__item_p Бесплатный звонок по РФ
                    a(href="#").tels__item-link.tels_font  8 800 100-88-48
                li.tels__item
                        a(href="#").tels__item-link.location_font Ваш город:
                            span  Киров
                        .city_numb
                            a(href="#").tels__item-link.tels_font  8 982 100-88-48
                li.tels__item.tels__callback             
                    a(href="#").tels__item-link.tels__item.tels__item_lg--icon Перезвоните мне