+media-breakpoint-up(xl) {
     .categories {    
        display: flex;
        flex-direction: row;
        
       
    }
    .product--text{
    font-size: 1.86em;
    }
    .categories__section{
        width: 25%;
       
        
        }
}